.text-header {
    font-family: Thasadith;
    font-weight: 700;
}

.text-title {
    font-family: Thasadith;
    font-size: 1.75em;
    font-weight: 700;
}

.text-subtitle {
    font-family: Thasadith;
    font-size: 1.5em;
    font-weight: 400;
}

.text-description {
    font-family: Thasadith;
    font-size: 1.5em;
    font-weight: 100;
}
